@import "./../../styles/globalTheme.scss";

.contact-form {
  width: 100%;
  color: $primary-text-color;
  h3 {
    font-size: 28px;
    font-weight: bold;
    color: $primary-text-color;
  }

  input,
  textarea {
    background: $white;
    box-shadow: 0px 4px 57px rgba(2, 16, 32, 0.03);
    border-radius: 4px;
    border: none;
  }
  label {
    font-weight: bold;
    font-size: 16px;
    color: $primary-text-color;
  }
  input {
    height: 40px;
  }
  textarea {
    resize: none;
  }

  .tnc {
    color: $primary-text-color;
    font-weight: 500;
    opacity: 0.7;
    font-size: 16px;
    a {
      text-decoration: underline;
    }
  }

  :global .ant-form-item {
    margin-bottom: 16px;
  }
  // shifted "required steric symbol" from prefix to postfix as per design
  :global .ant-form-item-label > label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before {
    display: none;
  }
  :global .ant-form-item-label > label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::after {
    display: inline-block;
    margin-left: 4px;
    color: $secondary-text-color;
    font-size: 14px;
    font-weight: bold;
    line-height: 1;
    content: "*";
  }
}
