@import "./../../styles/globalTheme.scss";

.contact-form {
  width: 100%;
  color: $primary-text-color;
  h3 {
    font-size: 28px;
    font-weight: bold;
    color: $primary-text-color;
    @media #{$sm} {
      font-size: 24px;
    }
  }

  input,
  textarea {
    background: $white;
    box-shadow: 0px 4px 57px rgba(2, 16, 32, 0.05);
    border-radius: 4px;
    border: none;
  }
  label {
    font-weight: bold;
    font-size: 16px;
    color: $primary-text-color;
  }
  input {
    height: 40px;
    font-size: 16px;
    color: $primary-text-color;
    opacity: 0.7;
  }
  textarea {
    resize: none;
  }

  .tnc {
    color: $primary-text-color;
    font-weight: 500;
    opacity: 0.7;
    font-size: 16px;
    a {
      text-decoration: underline;
      &:hover {
        color: $secondary-text-color;
      }
    }
  }

  :global .ant-form-item {
    margin-bottom: 16px;
    font-size: 16px;
  }
  // shifted "required steric symbol" from prefix to postfix as per design
  :global .ant-form-item-label > label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before {
    display: none;
  }
  :global .ant-form-item-label > label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::after {
    display: inline-block;
    margin-left: 4px;
    color: $secondary-text-color;
    font-size: 14px;
    font-weight: bold;
    line-height: 1;
    content: "*";
  }
  :global .ant-input:focus,
  :global .ant-input-focused {
    border-color: $secondary-text-color;
    border-right-width: 1px !important;
    outline: 0;
    -webkit-box-shadow: 0 0 0 2px rgb(24 144 255 / 20%);
    box-shadow: 0 0 0 2px rgba($color: $secondary-text-color, $alpha: 0.5);
  }
}
