@import './../../styles/globalTheme.scss';

.select {
  width: 116px;
  height: 48px;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  background: rgba(0, 44, 93, 0.03);
  border-radius: 6px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;

  :global .ant-select-selector {
    padding-left: 10px;
  }

  :global .ant-select-arrow {
    color: $primary-text-color;
    margin-right: 10px;
  }
}

.option-content {
  text-align: center !important;
}

.flag {
  margin-left: 5px !important;
}
