.select {
  width: 116px;
  height: 48px;
  display: flex;
  align-items: center;
  background: rgba(0, 44, 93, 0.03);
  border-radius: 6px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;

  .ant-select-selection-item {
    text-align: center;
  }
}

.flag {
  margin-left: 5px !important;
}
