@import "./../../styles/globalTheme.scss";

.image-section {
  .text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    height: 100%;
    padding-right: 20%;
    @media #{$sm-md} {
      padding-right: 0%;
    }
    h1 {
      color: $primary-text-color;
      font-weight: bolder;
      font-size: 40px;
      line-height: 3rem;
      &.small-heading {
        font-size: 30px;
        @media #{$sm} {
          font-size: 24px;
        }
      }
      &.page-title {
        font-size: 56px;
        @media #{$sm} {
          font-size: 36px;
        }
      }
      @media #{$md} {
        font-size: 32px;
        line-height: 2rem;
      }
      @media #{$sm} {
        font-size: 24px;
        line-height: 2rem;
      }
    }
    p {
      color: $primary-text-color;
      opacity: 0.7;
      @media #{$sm} {
        text-align: justify;
      }
    }
    .content {
      margin-bottom: 1rem;
      p {
        color: $primary-text-color;
        opacity: 0.7;
        @media #{$sm} {
          text-align: justify;
        }
      }
    }
  }
  .image-wrapper {
    position: relative;
    @media #{$md} {
      margin-bottom: 2rem;
    }
    @media #{$sm} {
      display: none;
    }
    .image {
      border-radius: 80px 4px;
      transform: matrix(-1, 0, 0, 1, 0, 0);
      @media #{$md} {
        border-radius: 72px 4px;
      }
      @media #{$sm} {
        border-radius: 56px 4px;
      }
    }
    &.img-reverse {
      .image {
        transform: matrix(1, 0, 0, 1, 0, 0);
      }
    }
    .icon {
      position: absolute;
      left: 0;
      bottom: 0;
      background: $white;
      box-shadow: 0px 4px 13px rgba(2, 16, 32, 0.11);
      border-radius: 14px;
      width: 72px;
      height: 72px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1rem;
      &.bottom {
        left: -24px;
        bottom: -24px;
      }
      &.center {
        left: -24px;
        bottom: 96px;
      }
    }
  }
}
