@import "./../../styles/globalTheme.scss";

// outer wrapper
.footerWrapper {
  width: 100%;
  padding: 20px 5%;
  background-color: $primary-text-color;
  color: $white;

  // default style for all h4 tags
  h4 {
    color: $white;
    font-size: 22px; // follow some standard, theme etc
  }

  // default style for all anchor tags
  a{
    color: $white;
    text-transform: capitalize;
  }

  // logo column
  .logo {
    color: $white;
    img {
      width: 200px;
    }
    p {
      margin-top: 2rem;
    }
  }

  // menu links column
  .menu {
    ul {
      list-style: none;
      padding-left: 1rem;
      li {
        line-height: 2rem;
        &::before {
          content: "\2022";
          color: $secondary-text-color;
          font-weight: bold;
          font-size: 22px;
          display: inline-block;
          width: 1.5em;
          margin-left: -1em;
        }
        a {
          &:hover {
            // text-decoration: underline;
            color: $secondary-text-color;
          }
        }
      }
    }
  }

  // contact column
  .contact {
    .contactLink {
      margin: 2rem 0;
      display: flex;
      align-items: center;
      a {
        margin-left: 1rem;
        &:hover {
          color: $secondary-text-color;
        }
      }
    }
  }

  // social media links column
  .social {
    .socialIconsWrapper {
      display: flex;
      gap: 8px;
      margin-top: 2rem;
      .socialIcon {
        background-color: $secondary-text-color;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1.5rem;
        border-radius: 4px;
        width: 33.33%;
        box-sizing: border-box;
        border: 1px solid $secondary-text-color;
        cursor: pointer;
        &:hover {
          background-color: transparent;
          border: 1px solid $secondary-text-color;
          transition: all 0.3s ease;
        }
      }
    }
  }
}

// copyright section
.copyright {
  width: 100%;
  background-color: $catelina-blue;
  color: $white;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  p{
    margin: 0;
  }
}
