@import "./../../styles/globalTheme.scss";

.contact-links-wrapper {
  .page-title {
    font-size: 48px;
    color: $primary-text-color;
    font-weight: bold;
  }
  .contact-info-link {
    margin-bottom: 3rem;
    display: flex;
    @media #{$sm-md} {
      margin: 1rem 0;
    }
    a {
      margin-left: 1rem;
      font-weight: bold;
      font-size: 20px;
      @media #{$sm} {
        margin-left: 0.5rem;
        width: 100%;
        font-size: 16px;
      }
      &:hover {
        color: $secondary-text-color;
      }
    }
    &:nth-child(4n) {
      span {
        font-weight: normal !important;
      }
    }
  }

  .social-wrapper {
    margin: 6rem 0 2rem 0;
    @media #{$sm} {
      margin: 2rem 0;
    }
    h5 {
      font-weight: bold;
      font-size: 16px;
      color: $primary-text-color;
    }
    .social-icons {
      display: flex;
      gap: 8px;
      margin-top: 2rem;
      .social-icon {
        background-color: $secondary-text-color;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1.25rem;
        border-radius: 6px;
        width: 33.33%;
        box-sizing: border-box;
        border: 1px solid $secondary-text-color;
        cursor: pointer;
        max-width: 90px;
        @media #{$sm-md} {
          padding: 0.5rem;
          max-width: 50px;
        }
        &:hover {
          transition: all 0.3s ease;
          transform: scale(1.1);
          img {
            transform: scale(1);
          }
        }
        a {
          display: flex;
        }
      }
    }
  }
}
