@import "./../../styles/globalTheme.scss";
@import "./../../styles/mixins.scss";

.related-products-wrapper {
  padding: 0 10%;
  margin: 2rem 0;
  width: 100%;
  color: $primary-text-color;
  position: relative;
  .link-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    h4 {
      font-weight: bold;
      font-size: 22px;
      color: $primary-text-color;
    }
    a {
      &:hover {
        color: $primary-text-color;
        text-decoration: underline;
      }
    }
  }
  .related-products-carousel {
    ul {
      li {
        padding: 0 0.75rem;
        &:first-child {
          padding-left: 0;
        }
        &:nth-child(4n) {
          padding-right: 0;
        }
        &:nth-child(5n) {
          padding-left: 0;
        }
        &:last-child {
          padding-right: 0;
        }
        @media #{$sm} {
          padding: 0 !important;
        }
      }
    }
    .btn-arrow {
      top: 50%;
      transform: translate(0%, -50%);
      color: $catelina-blue;
      font-size: 26px;
      bottom: 0;
      margin-top: 0;
      width: 64px;
      height: 64px;
      background: $white;
      box-shadow: 0px 4px 13px rgba(2, 16, 32, 0.11);
      position: absolute;
      border-radius: 50%;
      opacity: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;

      &:hover {
        background: $primary-text-color;
        color: $white;
      }
      &:disabled {
        background-color: $alto;
        opacity: 0.5;
        color: $white;
        &:hover {
          background-color: $alto;
          color: $white;
        }
        display: none;
      }
      &::before {
        border-top: 0;
        border-bottom: 0;
        border-right: 0;
        border-style: solid;
        border-width: 0.125em 0.125em 0 0;
        content: "";
        display: inline-block;
        width: 12px;
        height: 12px;
        left: 0.15em;
        position: relative;
        transform: rotate(-45deg);
        vertical-align: top;
      }
      @media #{$sm} {
        font-size: 22px;
        bottom: 0;
        margin-top: 0;
        width: 48px;
        height: 48px;
      }
    }

    :global .carousel__next-button {
      right: calc(-100px);
      &::before {
        left: 0;
        transform: rotate(45deg);
      }
      @media #{$sm} {
        right: calc(-28px);
      }
    }
    :global .carousel__back-button {
      left: calc(-100px);
      &::before {
        right: 0;
        transform: rotate(-135deg);
      }
      @media #{$sm} {
        left: calc(-28px);
      }
    }
  }
}
