@import "./../../../styles/globalTheme.scss";

.blog-card {
  border-radius: 4px;
  background-color: $white;
  box-shadow: 0px 4px 57px rgba(2, 16, 32, 0.05);
  width: 100%;
  margin-bottom: 2rem;
  .card-image {
    display: flex;
    justify-content: center;
    background-color: $wild-sand;
    height: 320px;
    width: 100%;
    border-radius: 4px 4px 0 0;
    .image {
      object-fit: cover;
      width: 100% !important;
      position: relative !important;
      height: unset !important;
      border-radius: 4px 4px 0 0;
    }
    & > div {
      position: unset !important;
      width: 100%;
    }
    &.related-card {
      height: 240px;
    }
  }

  .blog-card-description {
    padding: 1.5rem 1rem;

    .blog-card-date {
      font-size: 14px;
      color: $primary-text-color;
      opacity: 0.33;
    }

    h4 {
      font-weight: bold;
      font-size: 20px;
      color: $primary-text-color;
      height: calc((20px * 2) + 16px);
      line-height: 130.5%;
      @media #{$sm} {
        height: auto;
      }
    }

    .blog-card-desc {
      color: $primary-text-color;
      font-size: 16px;
      opacity: 0.7;
      margin-bottom: 2rem;
      height: calc((16px * 1.6 * 3) + 8px);

      @media #{$xlg} {
        height: calc((16px * 1.6 * 2) + 8px);
      }
      @media #{$lg} {
        height: calc((16px * 1.6 * 2) + 8px);
      }
      @media #{$md} {
        height: calc((16px * 3) + 16px);
      }
      @media #{$sm} {
        height: auto;
      }
    }
  }
}
