@import "./globalTheme.scss";

.contact-wrapper {
  width: 100%;
  .image-wrapper {
    padding: 0 4rem 4rem 4rem;
    background-image: url("./../assets/images/hand-holding-sign.png");
    background-position-y: 0px;
    background-position-x: 40%;
    background-size: contain;
    background-repeat: no-repeat;
    @media #{$sm-md} {
      background: none;
      padding: 0 0 2rem 0;
    }
  }
}
