@import "./globalTheme.scss";

.table-wrapper {
  margin: 96px 0;
  h4 {
    font-size: 30px;
    font-weight: bold;
    color: $primary-text-color;
  }
  .table-downloads {
    table {
      background: $white;
      box-shadow: 0px 4px 57px rgba(2, 16, 32, 0.05);
      border-radius: 4px;
      thead {
        background-color: $white;
        tr {
          th {
            background-color: $white;
            color: rgba($color: $primary-text-color, $alpha: 0.3);
            &::before {
              display: none;
            }
          }
        }
      }
      tbody {
        tr {
          color: $primary-text-color;
          &:nth-child(odd) {
            background: rgba(223, 223, 223, 0.12);
          }
          &:last-child {
            td {
              border: none;
            }
          }
          td {
            font-weight: 500;
            &:first-child {
              opacity: 0.5;
              text-transform: uppercase;
            }
          }
        }
      }
    }
  }
  .icon-download {
    width: 34px;
    height: 32px;
    background: $secondary-text-color;
    box-shadow: 0px 4px 57px rgba(2, 16, 32, 0.05);
    border-radius: 6px;
    color: $white;
    fill: $white;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .pagination-wrapper {
    margin: 40px 0;
    ul {
      li {
        width: 50px;
        height: 50px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        &:hover {
          border-color: $secondary-text-color;
          a {
            color: $secondary-text-color;
          }
        }
        a {
          color: $primary-text-color;
          font-weight: 500;
        }
      }
      :global .ant-pagination-item-active {
        background-color: $secondary-text-color;
        color: $white;
        border: 1px solid $secondary-text-color;
        &:hover {
          a {
            color: $white;
          }
        }
        a {
          color: $white;
        }
      }
    }
  }
}
