@import "./globalTheme.scss";

@mixin theme-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 44px;
  border-radius: 4px;
  background: $secondary-text-color;
  border: 1px solid $secondary-text-color;
  color: $white;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-weight: 600;
  &:hover {
    background: transparent;
    color: $secondary-text-color;
  }
  &.outline {
    background: transparent;
    border: 1px solid $secondary-text-color;
    color: $secondary-text-color;
  }
  &.block {
    width: 100%;
  }
  @media #{$sm} {
    padding: 8px 20px;
  }
}

@mixin control-arrow($showDisabled, $arrowOffset) {
  :global .control-arrow {
    top: 50%;
    transform: translate(0%, -50%);
    color: $catelina-blue;
    font-size: 26px;
    bottom: 0;
    margin-top: 0;
    width: 64px;
    height: 64px;
    background: $white;
    box-shadow: 0px 4px 13px rgba(2, 16, 32, 0.11);
    position: absolute;
    border-radius: 50%;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background: $primary-text-color;
      color: $white;
    }
    &.control-disabled {
      background-color: $alto;
      opacity: 0.5;
      color: $white;
      &:hover {
        background-color: $alto;
        color: $white;
      }
      display: $showDisabled;
    }
    &::before {
      border-top: 0;
      border-bottom: 0;
      border-right: 0;
      border-style: solid;
      border-width: 0.125em 0.125em 0 0;
      content: "";
      display: inline-block;
      width: 12px;
      height: 12px;
      left: 0.15em;
      position: relative;
      transform: rotate(-45deg);
      vertical-align: top;
    }
    &.control-next {
      right: calc(-35px * #{$arrowOffset});
      &::before {
        left: 0;
        transform: rotate(45deg);
      }
    }
    &.control-prev {
      left: calc(-35px * #{$arrowOffset});
      &::before {
        right: 0;
        transform: rotate(-135deg);
      }
    }
    @media #{$sm} {
      display: none;
    }
  }
}
